In [2]:
import pandas as pd

df = pd.read_csv('/content/dataset_sdn.csv')

y = df.iloc[:,-1]
y

0         0
1         0
2         0
3         0
4         0
         ..
104340    0
104341    0
104342    0
104343    0
104344    0
Name: label, Length: 104345, dtype: int64

In [3]:
X_x = pd.get_dummies(df.Protocol, prefix='Protocol')
X_x

        Protocol_ICMP  Protocol_TCP  Protocol_UDP
0                   0             0             1
1                   0             0             1
2                   0             0             1
3                   0             0             1
4                   0             0             1
...               ...           ...           ...
104340              1             0             0
104341              1             0             0
104342              1             0             0
104343              1             0             0
104344              1             0             0

[104345 rows x 3 columns]

In [4]:
df.insert(22,'Protocol_ICMP',X_x['Protocol_ICMP'])
df.insert(23,'Protocol_TCP',X_x['Protocol_TCP'])
df.insert(24,'Protocol_UDP',X_x['Protocol_UDP'])

In [5]:
df = df.drop(columns=['Protocol'])
df = df.drop(columns=['label'])

In [6]:
df

           dt  switch        src  ... Protocol_ICMP  Protocol_TCP  Protocol_UDP
0       11425       1   10.0.0.1  ...             0             0             1
1       11605       1   10.0.0.1  ...             0             0             1
2       11425       1   10.0.0.2  ...             0             0             1
3       11425       1   10.0.0.2  ...             0             0             1
4       11425       1   10.0.0.2  ...             0             0             1
...       ...     ...        ...  ...           ...           ...           ...
104340   5262       3   10.0.0.5  ...             1             0             0
104341   5262       3   10.0.0.5  ...             1             0             0
104342   5262       3  10.0.0.11  ...             1             0             0
104343   5262       3  10.0.0.11  ...             1             0             0
104344   5262       3  10.0.0.11  ...             1             0             0

[104345 rows x 24 columns]

In [7]:
zz = pd.get_dummies(df.src, prefix='src')
zz

        src_10.0.0.1  src_10.0.0.10  ...  src_10.0.0.8  src_10.0.0.9
0                  1              0  ...             0             0
1                  1              0  ...             0             0
2                  0              0  ...             0             0
3                  0              0  ...             0             0
4                  0              0  ...             0             0
...              ...            ...  ...           ...           ...
104340             0              0  ...             0             0
104341             0              0  ...             0             0
104342             0              0  ...             0             0
104343             0              0  ...             0             0
104344             0              0  ...             0             0

[104345 rows x 19 columns]

In [8]:
ff = pd.get_dummies(df.dst, prefix='dst')
ff

final =  pd.concat([ff,zz],axis = 1)
final_df = pd.concat([df,final],axis =1)
final_df = pd.concat([final_df,y],axis = 1)
final_df

           dt  switch        src  ... src_10.0.0.8  src_10.0.0.9  label
0       11425       1   10.0.0.1  ...            0             0      0
1       11605       1   10.0.0.1  ...            0             0      0
2       11425       1   10.0.0.2  ...            0             0      0
3       11425       1   10.0.0.2  ...            0             0      0
4       11425       1   10.0.0.2  ...            0             0      0
...       ...     ...        ...  ...          ...           ...    ...
104340   5262       3   10.0.0.5  ...            0             0      0
104341   5262       3   10.0.0.5  ...            0             0      0
104342   5262       3  10.0.0.11  ...            0             0      0
104343   5262       3  10.0.0.11  ...            0             0      0
104344   5262       3  10.0.0.11  ...            0             0      0

[104345 rows x 62 columns]

In [9]:
final_df = final_df.drop(columns=['src','dst'])
final_df

           dt  switch  pktcount  ...  src_10.0.0.8  src_10.0.0.9  label
0       11425       1     45304  ...             0             0      0
1       11605       1    126395  ...             0             0      0
2       11425       1     90333  ...             0             0      0
3       11425       1     90333  ...             0             0      0
4       11425       1     90333  ...             0             0      0
...       ...     ...       ...  ...           ...           ...    ...
104340   5262       3        79  ...             0             0      0
104341   5262       3        79  ...             0             0      0
104342   5262       3        31  ...             0             0      0
104343   5262       3        31  ...             0             0      0
104344   5262       3        31  ...             0             0      0

[104345 rows x 60 columns]

In [10]:
final_df.isna().sum()
final_df['rx_kbps'] = final_df['rx_kbps'].fillna(0)
final_df['tot_kbps'] = final_df['tot_kbps'].fillna(0)
final_df = final_df.astype('int64') 
final_df

           dt  switch  pktcount  ...  src_10.0.0.8  src_10.0.0.9  label
0       11425       1     45304  ...             0             0      0
1       11605       1    126395  ...             0             0      0
2       11425       1     90333  ...             0             0      0
3       11425       1     90333  ...             0             0      0
4       11425       1     90333  ...             0             0      0
...       ...     ...       ...  ...           ...           ...    ...
104340   5262       3        79  ...             0             0      0
104341   5262       3        79  ...             0             0      0
104342   5262       3        31  ...             0             0      0
104343   5262       3        31  ...             0             0      0
104344   5262       3        31  ...             0             0      0

[104345 rows x 60 columns]

In [11]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]
print(X)
print(y)

           dt  switch  pktcount  ...  src_10.0.0.7  src_10.0.0.8  src_10.0.0.9
0       11425       1     45304  ...             0             0             0
1       11605       1    126395  ...             0             0             0
2       11425       1     90333  ...             0             0             0
3       11425       1     90333  ...             0             0             0
4       11425       1     90333  ...             0             0             0
...       ...     ...       ...  ...           ...           ...           ...
104340   5262       3        79  ...             0             0             0
104341   5262       3        79  ...             0             0             0
104342   5262       3        31  ...             0             0             0
104343   5262       3        31  ...             0             0             0
104344   5262       3        31  ...             0             0             0

[104345 rows x 59 columns]
0         0
1         0
2         0
3         0
4         0
         ..
104340    0
104341    0
104342    0
104343    0
104344    0
Name: label, Length: 104345, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=109)

In [13]:
import numpy as np

X_train = np.array(X_train)
y_train = np.array(y_train)
X_train = X_train.reshape((X_train.shape[0], X_train.shape[1], 1))
print(X_train.shape)

(83476, 59, 1)

In [ ]:
from sklearn.linear_model import LogisticRegression
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPool2D
from keras.utils.np_utils import to_categorical # convert to one-hot-encoding
from keras.layers import BatchNormalization

#defining model
model=Sequential()
#adding convolution layer
model.add(Conv2D(32,(3,3),activation='relu',input_shape=(83476, 59, 1)))
#adding pooling layer
model.add(MaxPool2D(2,2))
#adding fully connected layer
model.add(Flatten())
model.add(Dense(64,activation='relu'))
#adding output layer
model.add(Dense(10,activation='softmax'))
#compiling the model
model.compile(loss='sparse_categorical_crossentropy',optimizer='adam',metrics=['accuracy'])
#fitting the model
model.summary()

In [ ]:
model.fit(X_train,y_train,epochs=10, batch_size = 32)

In [ ]:
from sklearn.metrics import classification_report
target_names = ['0', '1']
print(classification_report(y_test, y_pred, target_names=target_names))

In [ ]:
 from sklearn.metrics import accuracy_score

 acc = accuracy_score(y_test, y_pred)
 print(acc)

In [ ]:
y_pred_train = classifier.predict(X_train)

acc_c = accuracy_score(y_train, y_pred_train)
print(acc_c)